{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path("homepage") }}">Témata</a></li>
            <li><a href="{{ path("add_topic") }}">Přidání nového tématu</a></li>
        </ul>
        <ul>
            <li>Domovská stránka</li>
        </ul>

    </nav>
    <h1>Domovská stránka</h1>
    <p>Níže je uveden seznam témat, která nejsou podtématem žádného nadřazeného tématu. U každého názvu tématu se nachází odkaz na seznam příspěvků k danému tématu.</p>
    <dl>
        {% for topic in topics %}
             <dt>
                {{ topic.name }}
             </dt>
            <dd>
                <dl>
                    <dt>Popis</dt>
                    <dd>{{ topic.description }}</dd>
                    <dt>Seznam příspěvků</dt>
                    <dd><a href="{{ path("posts", {"id" : topic.id}) }}">Příspěvky</a></dd>
                    <dt>Seznam podtémat</dt>
                    <dd><a href="{{ path("posts", {"id" : topic.id}) }}">Podtémata</a></dd>
                </dl>
            </dd>
        {% endfor %}
    </dl>
{% endblock %}